@using Janitra.Data.Models
@model Janitra.ViewComponents.TestResultsForBuildTableViewModel

<table class="table is-narrow">
    <thead>
    <tr>
        <th>Test</th>
        @foreach (var bot in Model.Bots)
        {
            <th>
                <span style="font-size: small">@bot.Name</span>
            </th>
        }
    </tr>
    </thead>
    @foreach (var test in Model.Tests)
    {
        <tr>
            <td>@test.TestName</td>
            @foreach (var bot in Model.Bots)
            {
                var result = Model.Results.SingleOrDefault(r => r.TestDefinitionId == test.TestDefinitionId && r.JanitraBotId == bot.JanitraBotId);
                if (result == null)
                {
                    <td></td>
                }
                else
                {
                    string className;
                    string text = result.AccuracyStatus.ToString();
                    if (result.ExecutionResult != ExecutionResult.Completed)
                    {
                        text = result.ExecutionResult.ToString();
                    }

                    switch (result.AccuracyStatus)
                    {
                        case AccuracyStatus.Unset:
                            className = "is-warning";
                            break;
                        case AccuracyStatus.Perfect:
                            className = "is-success";
                            break;
                        case AccuracyStatus.Good:
                            className = "is-primary";
                            break;
                        case AccuracyStatus.Incorrect:
                            className = "is-danger";
                            break;
                        default:
                            throw new ArgumentOutOfRangeException();
                    }
                    <td class="@className">
                        <a asp-controller="TestResults" asp-action="View" asp-route-id="@result.TestResultId" style="color: inherit">@text</a>
                    </td>
                }
            }
        </tr>
    }
</table>