@model Janitra.Data.Models.CitraBuild
@{
    ViewData["Title"] = "View Build";
}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Build @Model.CitraBuildId <span class="tag">@Model.BuildType</span>
            </h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Git Hash</label>
        </div>
        <div class="field-body">
            <div class="field">
                <a target="_blank" href=@("https://github.com/citra-emu/citra/commit/" + Model.GitHash)>@Model.GitHash</a>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Committed At</label>
        </div>
        <div class="field-body">
            <div class="field">
                @Model.CommitTime.ToString("yyyy-MM-dd")
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Notes</label>
        </div>
        <div class="field-body">
            <div class="field">
                @foreach (var line in @Model.BuildNotes.Split('\n'))
                {
                    @line<br/>
                }
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Download</label>
        </div>
        <div class="field-body">
            <div class="field">
                @if (!string.IsNullOrEmpty(Model.WindowsUrl))
                {
                    <a href=@Model.WindowsUrl>
                        <span class="icon">
                            <i class="fa fa-windows"></i>
                        </span>
                    </a>
                }
                @if (!string.IsNullOrEmpty(Model.LinuxUrl))
                {
                    <a href=@Model.LinuxUrl>
                        <span class="icon">
                            <i class="fa fa-linux"></i>
                        </span>
                    </a>
                }
                @if (!string.IsNullOrEmpty(Model.OsxUrl))
                {
                    <a href=@Model.OsxUrl>
                        <span class="icon">
                            <i class="fa fa-apple"></i>
                        </span>
                    </a>
                }
            </div>
        </div>
    </div>
</section>
<section class="section">
    <vc:test-results-for-build-table citra-build-id="@Model.CitraBuildId"></vc:test-results-for-build-table>
</section>