@model Janitra.Controllers.ViewBuildViewModel
@{
    ViewData["Title"] = "View Build";
}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Build @Model.Build.CitraBuildId <span class="tag">@Model.Build.BuildType</span>
            </h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Git Hash</label>
        </div>
        <div class="field-body">
            <div class="field">
                <a target="_blank" href=@("https://github.com/citra-emu/citra/commit/" + Model.Build.GitHash)>@Model.Build.GitHash</a>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Committed At</label>
        </div>
        <div class="field-body">
            <div class="field">
                @Model.Build.CommitTime.ToString("yyyy-MM-dd")
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Notes</label>
        </div>
        <div class="field-body">
            <div class="field">
                @foreach (var line in @Model.Build.BuildNotes.Split('\n'))
                {
                    @line<br/>
                }
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Download</label>
        </div>
        <div class="field-body">
            <div class="field">
                @if (!string.IsNullOrEmpty(Model.Build.WindowsUrl))
                {
                    <a href=@Model.Build.WindowsUrl>
                        <span class="icon">
                            <i class="fa fa-windows"></i>
                        </span>
                    </a>
                }
                @if (!string.IsNullOrEmpty(Model.Build.LinuxUrl))
                {
                    <a href=@Model.Build.LinuxUrl>
                        <span class="icon">
                            <i class="fa fa-linux"></i>
                        </span>
                    </a>
                }
                @if (!string.IsNullOrEmpty(Model.Build.OsxUrl))
                {
                    <a href=@Model.Build.OsxUrl>
                        <span class="icon">
                            <i class="fa fa-apple"></i>
                        </span>
                    </a>
                }
            </div>
        </div>
    </div>
</section>
<section class="section">
    <h3 class="title is-4">HW Test Results</h3>
    <vc:test-results-for-build-table citra-build-id="@Model.Build.CitraBuildId"></vc:test-results-for-build-table>
</section>
<section class="section">
    <h3 class="title is-4">Rom Test Results</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Rom</th>
            <th>Movie</th>
            <th>Ran On</th>
            <th>Result</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var result in Model.MovieResults)
        {
            <tr>
                <td><a asp-controller="Roms" asp-action="View" asp-route-id="@result.RomMovie.RomId">@result.RomMovie.Rom.Name</a></td>
                <td><a asp-controller="Movies" asp-action="View" asp-route-id="@result.RomMovieId">@result.RomMovie.Name</a></td>
                <td><a asp-controller="JanitraBots" asp-action="View" asp-route-id="@result.JanitraBotId">@result.JanitraBot.Name</a></td>
                <td>@result.ExecutionResult</td>
                <td>
                    <a asp-controller="MovieResults" asp-action="View" asp-route-id="@result.RomMovieResultId">View</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</section>